.form__input {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 10px solid #ddd;
}

.form__header {
    font-weight: 900;
}

.form__subheader {
    border-bottom: 2px solid #ddd;
    background-color: white;
    padding: 20px;
    margin: 0px;
    font-weight: 900;
}

.form__field:focus {
    border: 2px solid black;
}

.form__button {
    background-color: teal;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    border: 0px;
}

.form__field {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-grow: 1;
}