html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    background-color: #ddd;
    max-width: 1400px;
    line-height: 1.5;
}

.container {
    margin: 20px;
    padding: 10px;
}

.section__list {
    background-color: #ffffff;
    border-bottom: 2px solid #ddd;
    padding: 10px 20px;
    margin: 0px;
    min-height: 50px;
}

.section__header {
    background-color: #ffffff;
    border-bottom: 2px solid #ddd;
    padding: 20px;
    font-weight: 900;
    margin: 0px;
}

.form__subheader {
    border-bottom: 2px solid #ddd;
    background-color: white;
    padding: 20px;
    margin: 0px;
    font-weight: 900;
}

.form__input {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 10px solid #ddd;
}

.form__field:focus {
    border: 1px solid black;
}

.form__button {
    background-color: teal;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    border: 0px;
}

.form__field {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.form__header {
    font-weight: 900;
}

.section__listItem {
    list-style: none;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    justify-content: center;
    align-items: center;
}

.section__listItem--done {
    text-decoration: line-through;
}

.section__button--done {
    cursor: pointer;
    color: white;
    background-color: forestgreen;
    min-height: 50px;
    min-width: 50px;
    padding: 10px;
}

.section__button {
    margin:10px;
    max-width: 50px;
    max-height: 50px;
}

.section__taskContent {
    padding: 20px;
}